/* src/styles/style.css */

/* Crypto Dashboard Styles */
.crypto-dashboard {
    font-family: 'Arial', sans-serif;
    background-color:rgba(210, 208, 190, 1);
    padding: 20px;
  }
  
  .title {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 20px;
  }
  
  .crypto-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
    margin-bottom: 40px;
  }
  
  .crypto-item {
    background-color: white;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
  }
  
  .crypto-header {
    margin-bottom: 10px;
  }
  
  .crypto-details p {
    font-size: 1.1rem;
  }
  
  .crypto-header h2 {
    font-size: 1.3rem;
    font-weight: bold;
  }
  
  .author-footer {
    text-align: center;
    font-size: 1rem;
    margin-top: 40px;
    color: #888;
  }
  
  /* Mobile responsiveness */
  @media (max-width: 600px) {
    .crypto-list {
      grid-template-columns: 1fr;
    }
  }
  
  //stare 